body {
    font-family: Cambria, serif;
    background-color: #000000;
    color: white;

    background-image: url('Network.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: lightgreen;
}

h2 {
    color: plum;
    text-align: center;
}

.label {
    font-size: 16px;
    font-weight: bold;
    color: pink;
}

.value {
    font-size: 14px;
    color: lightblue;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border: 3px solid lightpink;
}
