body {
    background-color: #000000;  /* خلفية سوداء */
    color: white;     
    margin-bottom: 20px;             /* لون النص الأبيض بشكل افتراضي
}

h1 {
    text-align: center;
}
h2 {
    color: plum;
    text-align: center;
}
.label {
    font-size: 16px;        /* حجم 16px */
    font-weight: bold;      /* Bold */
    color: pink;            /* اللون الوردي */
    font-family: Cambria, serif;
    margin-bottom: 5px;
}
.value {
    font-size: 14px;        /* حجم 14px */
    font-weight: normal;    /* وزن طبيعي */
    color: beige;           /* لون أسود */
}
