body {
	font-family: Cambria, serif;
    background-color: #000000;  /* black background */
    color: white;  	/* white color بشكل افتراضي*/
    background-image: url('Network.jpg');  /* اسم الصورة */
    background-size: cover;                    /* تغطي الصفحة بالكامل */
    background-repeat: no-repeat;             /* لا تتكرر */
    background-position: center;              /* توضع في المنتصف */

}

h1 {
    text-align: center;
	color:lightgreen;       /* lightgreen color*/
}
h2 {
    color: plum;            /* plum color*/
    text-align: center;
}
.label {
    font-size: 16px;        /* size of 16px */
    font-weight: bold;      /* Bold */
    color: pink;            /* pink color*/
    font-family: Cambria, serif;
    
}
.value {
    font-size: 14px;        /* size of 14px */
    font-weight: normal;    /* normal weight */
    color:  lightblue;      /* lightblue color*/
}
.profile-img {
    width: 250px;            /* حجم الصورة */
    height: 250px;           /* نفس الحجم للعرض والارتفاع */
    border-radius: 50%;      /* يجعل الصورة دائرية */
    object-fit: cover;       /* يملأ الإطار بشكل جميل */
    display: block;          /* يجعلها عنصر كتلة */
    margin: 10px auto;       /* مركز الصورة أفقياً */
    border: 3px solid lightpink; /* إطار وردي  */
}
}
